.movie-details-main {
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 6fr;
    gap: 1rem;

    .movie-poster {
        width: 100%;
        img {
            width:100%;
            &:hover {
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }
        }
    }

    .movie-content-main {
        .movie-content {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-areas:
                "header header header header header"
                "main main main sidebar sidebar"
                "lang lang lang sidebar sidebar"
                "footer footer footer footer footer";
            gap: 1rem;

            .header {
                grid-area: header;
                padding: 1rem;
                background-color: var(--primaryColor);
                h2 {
                    margin-bottom: 1rem;
                    color:var(--white);
                }
                a {
                    border: 1px solid var(--secondaryColor);
                    padding: 1rem;
                    display: inline-block;
                    text-decoration: none;
                    color: var(--headingColor);
                    margin-top: 1rem;
                }
                p{
                    color:var(--white);
                    strong {
                        color:var(--white);
                    }
                }
            }

            .main {
                grid-area: main;
                display: flex;
                justify-content: space-between;
                justify-items: center;
                gap: 1rem;
                flex-wrap: wrap;
                margin-bottom: 5rem;
                p {
                    background-color: var(--headingColor);
                    width: 45%;
                    text-align: center;
                    padding: 0.5rem;
                    color: var(--secondaryColor);
                    strong {
                        color: var(--white);
                    }
                }
            }

            .sidebar {
                grid-area: sidebar;
                margin-bottom: 5rem;
            }

            .footer {
                grid-area: footer;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
            }
        }
    }
}