:root[class="light"] {
    --backgroundBG:#ffffff;
    --primaryColor:#04759a;
    --navcolor: #880683;
    --navText:#e2e1e1;
    --secondaryColor:#005792;
    --textColor:#026891;
    --headingColor:#00bbf0;
    --black:#2b2a2a;
    --white:#e2e1e1;
    --avatarbg:#eceaea;
    --avatarNopic:#2b2a2a;
}
:root[class="dark"] {
    --backgroundBG:#024f5b;
    --primaryColor:#33c0d6;
    --navcolor: #026978;
    --navText:#e2e1e1;
    --secondaryColor:#14889a;
    --textColor:#09aff1;
    --headingColor:#c102ba;
    --black:#e2e1e1;
    --white:#2b2a2a;
    --avatarbg:#ffffff;
    --avatarNopic:#e2e1e1;
}